.results-container {
  padding: 20px;
  padding-left: 10px;
}

.search-bar {
  padding: 0px 0px 20px 0px;
}

button {
  margin-right: 10px;
}

.table-container {
  position: relative;
  left: 0px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.machine-container {
  position: relative;
  padding: 0px;
  margin-bottom: 5px;
}

.data-entry {
  font-size: 14px;
  padding: 0px 2px;
  max-width: max-content;
  text-align: center;
  white-space: nowrap;
}

.even {
  background-color: lightgray;
}

.odd {
  background-color: white;
}

.title-box {
  font-size: 14px;
  word-spacing: 100vw;
}

.title {
  max-width: max-content;
  text-align: center;
  white-space: nowrap;
}

.field-container {
  display: inline-block;
  padding: 20px;
  padding-left: 65px;
  width: auto;
}

.input-field {
  position: relative;
  display: block;
  margin: 5px;
  width: 165px;
  padding: 3px;
}

.total-submit {
  position: relative;
  display: inline-block;
  bottom: 370px;
}

.totals {
  margin: 0px;
}